:root {
    --main-bg-color-light: #014E56;
    --main-bg-color-light2: #2C6269;
    --main-bg-color-dark: #012F34;
    
    --clr-main-label:#79C8C7;
    --clr-pink: #F67E7E;
    --clr-txt: #FFFFFF;

}